<header>
	<div class="px-3 py-2 bg-dark text-white">
		<div class="container">
			<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
				<a href="{{ url('time_machine_index') }}" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
					<i class="fa-solid fa-2x fa-gauge me-2"></i>
				</a>

				<ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
					<li>
						<a href="{{ url('time_machine_index') }}" class="nav-link text-white">
							<i class="fa-solid fa-gauge d-block text-center mb-1"></i>
							<span>{{ 'Dashboard' }}</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</header>